IT Ticket Management System.json
{
  "name": "IT Ticket Management System",
  "nodes": [
    {
      "parameters": {
        "formTitle": "Norpetco IT Ticket Support System",
        "formDescription": "Please fill the data and let us help you ;)",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Name الاسم",
              "placeholder": "ex: Mohamed Maher",
              "requiredField": true
            },
            {
              "fieldLabel": "Department  القسم",
              "placeholder": "ex : IT Dept.",
              "requiredField": true
            },
            {
              "fieldLabel": "Issue  المشكلة",
              "fieldType": "dropdown",
              "fieldOptions": {
                "values": [
                  {
                    "option": "Computer won't turn on/start up              الكمبيوتر لا يعمل/لا يبدأ التشغيل"
                  },
                  {
                    "option": "Computer running extremely slow  الكمبيوتر يعمل ببطء شديد"
                  },
                  {
                    "option": "Mouse/keyboard not working لا يعمل الماوس/لوحة المفاتيح"
                  },
                  {
                    "option": "Printer not printing الطابعة لا تطبع"
                  },
                  {
                    "option": "Software license/activation problems مشاكل ترخيص/تفعيل البرامج"
                  },
                  {
                    "option": "No internet connection لا يوجد اتصال بالإنترنت"
                  },
                  {
                    "option": "Email not sending/receiving لا يتم إرسال/استلام البريد الإلكتروني"
                  },
                  {
                    "option": "Video conference/meeting issues مشاكل مؤتمرات/اجتماعات الفيديو"
                  },
                  {
                    "option": "New user account setup إعداد حساب مستخدم جديد"
                  },
                  {
                    "option": "Cannot make/receive calls لا يمكن إجراء/استقبال المكالمات"
                  },
                  {
                    "option": "Lost/deleted files الملفات المفقودة/المحذوفة"
                  },
                  {
                    "option": "Cable/connection issues مشاكل الكابلات/الوصلات"
                  },
                  {
                    "option": "Toner/ink replacement needed يلزم استبدال الحبر/التونر"
                  },
                  {
                    "option": "Other (please describe) آخر"
                  }
                ]
              },
              "requiredField": true
            },
            {
              "fieldLabel": "Description الوصف",
              "placeholder": "If other please describe the problem. إذا كان هناك سبب آخر، فيرجى وصف المشكلة."
            },
            {
              "fieldLabel": "Periority الأولوية",
              "fieldType": "dropdown",
              "fieldOptions": {
                "values": [
                  {
                    "option": "Low منخفض"
                  },
                  {
                    "option": "Medium متوسط"
                  },
                  {
                    "option": "High عالي"
                  }
                ]
              },
              "requiredField": true
            }
          ]
        },
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.3,
      "position": [
        -1600,
        -48
      ],
      "id": "b5f6f544-89db-4542-aa41-b8b8a54c08ca",
      "name": "On form submission",
      "webhookId": "3f77ac00-3986-459d-8c79-77e8effa4e57"
    },
    {
      "parameters": {
        "operation": "formatDate",
        "date": "={{ $('On form submission').item.json.submittedAt }}",
        "options": {}
      },
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        -32,
        -48
      ],
      "id": "fe3012df-ac48-4aad-8dda-833972cde734",
      "name": "Date & Time"
    },
    {
      "parameters": {
        "sendTo": "mohamed-maher@norpetco.com,mohamedmaherr12310@gmail.com,Amal@norpetco.com,ibrahim-mahmoud@norpetco.com",
        "subject": "=Norpetco IT Ticket Support System",
        "emailType": "text",
        "message": "=Please here is your new ticket to solve :\nTicket ID : {{ $('Code in JavaScript2').item.json.formatted_ticket_id }}\nName: {{ $('On form submission').item.json['Name الاسم'] }}\nDepartment:{{ $('On form submission').item.json['Department  القسم'] }}\nIssue:{{ $('On form submission').item.json['Issue  المشكلة'] }}\nPriority:{{ $('On form submission').item.json['Periority الأولوية'] }}\nDate Submitted:{{ $json.formattedDate }}\nStatus: Open",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        -256,
        -48
      ],
      "id": "e1192aef-55cb-4189-89f8-ec6ed051e48a",
      "name": "Send a message",
      "webhookId": "0338af91-2893-48a7-96df-bcd125fce8b4",
      "retryOnFail": true,
      "waitBetweenTries": 4000,
      "maxTries": 4,
      "credentials": {
        "gmailOAuth2": {
          "id": "0q3BhyxW5gP66ham",
          "name": "Gmail account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT current_number, ticket_prefix \nFROM ticket_counter\nWHERE id = 1",
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.5,
      "position": [
        -1376,
        -48
      ],
      "id": "7af85c09-e7ea-402c-bfaf-ef45a939ff4d",
      "name": "Execute a SQL query",
      "credentials": {
        "mySql": {
          "id": "gLmbGffweYLJijfa",
          "name": "MySQL account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Get current values from database\nconst currentNumber = $input.first().json.current_number;\nconst ticketPrefix = $input.first().json.ticket_prefix;\n\n// Increment ticket number\nconst newNumber = currentNumber + 1;\n\n// Format ticket number (e.g., TICKET-0001)\nconst formattedNumber = newNumber.toString().padStart(4, '0');\nconst ticketId = `${ticketPrefix}-${formattedNumber}`;\n\n// Return both for database update and output\nreturn [\n  {\n    json: {\n      new_ticket_number: newNumber,\n      formatted_ticket_id: ticketId,\n      ticket_prefix: ticketPrefix,\n      previous_number: currentNumber,\n      generated_at: new Date().toISOString()\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1152,
        -48
      ],
      "id": "12532534-31b9-4d04-8e9f-11609cd31114",
      "name": "Code in JavaScript2"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE ticket_counter \nSET current_number = {{ $json.new_ticket_number }}\nWHERE id = 1",
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.5,
      "position": [
        -928,
        -48
      ],
      "id": "a5f27708-df38-42ea-ae02-fa9105cca84f",
      "name": "Execute a SQL query1",
      "credentials": {
        "mySql": {
          "id": "gLmbGffweYLJijfa",
          "name": "MySQL account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Return a clean, formatted ticket response\nreturn {\n  json: {\n    success: true,\n    ticket_id: $input.first().json.formatted_ticket_id,\n    ticket_number: $input.first().json.new_ticket_number,\n    message: `Ticket ${$input.first().json.formatted_ticket_id} generated successfully`,\n    timestamp: new Date().toISOString()\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -704,
        -48
      ],
      "id": "a1cbf269-20a4-4004-a154-7e55e9b9bf8a",
      "name": "Code in JavaScript3"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1lTviIorNFB1CGTZZEPByk24zxd89mpZanrloLi8dSGE",
          "mode": "list",
          "cachedResultName": "IT Ticket System Log",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1lTviIorNFB1CGTZZEPByk24zxd89mpZanrloLi8dSGE/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1lTviIorNFB1CGTZZEPByk24zxd89mpZanrloLi8dSGE/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Name": "={{ $('On form submission').item.json['Name الاسم'] }}",
            "Issue": "={{ $('On form submission').item.json['Issue  المشكلة'] }}",
            "Department": "={{ $('On form submission').item.json['Department  القسم'] }}",
            "Date": "={{ $json.formattedDate }}",
            "Periority": "={{ $('On form submission').item.json['Periority الأولوية'] }}",
            "Ticket ID": "={{ $('Code in JavaScript2').item.json.formatted_ticket_id }}",
            "Status": "Open",
            "Thread_ID": "={{ $('Send a message').item.json.threadId }}"
          },
          "matchingColumns": [
            "Ticket ID"
          ],
          "schema": [
            {
              "id": "Ticket ID",
              "displayName": "Ticket ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Department",
              "displayName": "Department",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Issue",
              "displayName": "Issue",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Periority",
              "displayName": "Periority",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Date",
              "displayName": "Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Done By",
              "displayName": "Done By",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Solution Description and Thread History",
              "displayName": "Solution Description and Thread History",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Thread_ID",
              "displayName": "Thread_ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        256,
        -48
      ],
      "id": "17395928-6462-439b-92c5-65f3741cdc42",
      "name": "Append row in sheet",
      "retryOnFail": true,
      "maxTries": 4,
      "waitBetweenTries": 4000,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "nOtCsDYyTk6MMFqh",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "formatDate",
        "date": "={{ $('On form submission').item.json.submittedAt }}",
        "options": {}
      },
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        -480,
        -48
      ],
      "id": "7b8c93fb-23c0-4c2c-b4e5-b27fa21959dc",
      "name": "Date & Time1"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        112,
        -208
      ],
      "id": "ec126195-8183-4dd0-981c-f03d61c4462a",
      "name": "Wait",
      "webhookId": "d1ad81ba-9166-4728-9d32-8568317f46b7"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -528,
        -208
      ],
      "id": "45ac74e5-9eb3-475f-8c3e-88661b2c01b0",
      "name": "Wait1",
      "webhookId": "d1ad81ba-9166-4728-9d32-8568317f46b7"
    }
  ],
  "pinData": {},
  "connections": {
    "On form submission": {
      "main": [
        [
          {
            "node": "Execute a SQL query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Date & Time": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        [
          {
            "node": "Date & Time",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute a SQL query": {
      "main": [
        [
          {
            "node": "Code in JavaScript2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript2": {
      "main": [
        [
          {
            "node": "Execute a SQL query1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute a SQL query1": {
      "main": [
        [
          {
            "node": "Code in JavaScript3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript3": {
      "main": [
        [
          {
            "node": "Date & Time1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Date & Time1": {
      "main": [
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait1": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "timezone": "Africa/Cairo",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "versionId": "f2e973e8-28f1-4946-a103-229dfbb5ae30",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "8a3b81d74d38f6b7ea8b89854d3e7b43e2749a678a498b9f75515adfe8555138"
  },
  "id": "syeWCb2HVVcxGR08",
  "tags": []
}