Ticket_Status_Tracker.json
{
  "name": "Ticket_Status_Tracker",
  "nodes": [
    {
      "parameters": {
        "options": {
          "reset": false
        }
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -560,
        -48
      ],
      "id": "2cb8464d-cf5e-4555-a8d6-75fc267f71c8",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "6a06ef39-e35f-4a41-8543-cce114cf583e",
              "leftValue": "={{ $json.Subject }}",
              "rightValue": "(Re: Norpetco IT Ticket Support System|RE: Norpetco IT Ticket Support System)",
              "operator": {
                "type": "string",
                "operation": "regex"
              }
            },
            {
              "id": "36bf097f-024d-407e-b938-c3078a53eac6",
              "leftValue": "={{ $json.From }}",
              "rightValue": "=(Mohamed Maher Ahmed <mohamed-maher@norpetco.com>|Amal Fathy A El-Hamied Ali <Amal@norpetco.com>|Ibrahim Mahmoud A El-Rahman <ibrahim-mahmoud@norpetco.com>|Mohamed <mohamedmaherr12310@gmail.com>)",
              "operator": {
                "type": "string",
                "operation": "regex"
              }
            },
            {
              "id": "1ebe8479-0563-40fe-9580-1f7e1d27149c",
              "leftValue": "={{ $json.snippet }}",
              "rightValue": "=(?:Done|accomplished|solved|تمت بنجاح|Accomplished|done|DONE|تم)\\s*[-=~_]*\\s*(?:Original Message|Forwarded message|From:|Sent:)",
              "operator": {
                "type": "string",
                "operation": "regex"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -832,
        16
      ],
      "id": "e288255a-3bdb-40bf-8d90-28a0c01acf75",
      "name": "If2"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1lTviIorNFB1CGTZZEPByk24zxd89mpZanrloLi8dSGE",
          "mode": "list",
          "cachedResultName": "IT Ticket System Log",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1lTviIorNFB1CGTZZEPByk24zxd89mpZanrloLi8dSGE/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1lTviIorNFB1CGTZZEPByk24zxd89mpZanrloLi8dSGE/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Done By": "={{ $('Get many messages2').item.json.From }}",
            "Status": "Closed",
            "Thread_ID": "={{ $json.threadId }}",
            "Solution Description and Thread History": "={{ $json.snippet }}"
          },
          "matchingColumns": [
            "Thread_ID"
          ],
          "schema": [
            {
              "id": "Ticket ID",
              "displayName": "Ticket ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Department",
              "displayName": "Department",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Issue",
              "displayName": "Issue",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Periority",
              "displayName": "Periority",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Date",
              "displayName": "Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Done By",
              "displayName": "Done By",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Solution Description and Thread History",
              "displayName": "Solution Description and Thread History",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Thread_ID",
              "displayName": "Thread_ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -272,
        -16
      ],
      "id": "4947f270-a1d3-48af-b976-68aa42745671",
      "name": "Update row in sheet2",
      "retryOnFail": true,
      "maxTries": 4,
      "waitBetweenTries": 4000,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "nOtCsDYyTk6MMFqh",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "limit": 20,
        "filters": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        -1056,
        16
      ],
      "id": "c0953161-37c3-462e-9149-c659fe3857e8",
      "name": "Get many messages2",
      "webhookId": "ab6e12ad-1d8d-44c1-99f2-18458d9f736a",
      "retryOnFail": true,
      "waitBetweenTries": 4000,
      "maxTries": 4,
      "credentials": {
        "gmailOAuth2": {
          "id": "0q3BhyxW5gP66ham",
          "name": "Gmail account 2"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "seconds"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -1280,
        16
      ],
      "id": "17baac52-ffda-445c-85a2-7787067b9e61",
      "name": "Schedule Trigger1"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -416,
        -144
      ],
      "id": "9b8dfcae-0be5-4cb1-afea-d67aca6c7ba6",
      "name": "Wait",
      "webhookId": "06abb4a7-1c6b-4add-ac98-2d3f98974815"
    }
  ],
  "pinData": {},
  "connections": {
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If2": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update row in sheet2": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many messages2": {
      "main": [
        [
          {
            "node": "If2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger1": {
      "main": [
        [
          {
            "node": "Get many messages2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Update row in sheet2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "timezone": "Africa/Cairo",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "versionId": "c709179b-ff74-4a8b-99c6-2686f81c57f9",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "8a3b81d74d38f6b7ea8b89854d3e7b43e2749a678a498b9f75515adfe8555138"
  },
  "id": "07iZ53nRTUM4D8KL",
  "tags": []
}